<h1 align="center" class="mb-5">Detalles de la Imagen</h1>
<div class="container">
	<table class="table">
			<thead class="bg-secondary">
				<tr class="text-white text-center">
					<th style="text-align: center; border: 1px solid #aaa">IMAGE</th>
					<th style="text-align: center; border: 1px solid #aaa">URL</th>
					<th style="text-align: center; border: 1px solid #aaa">ALT</th>
				</tr>			
			</thead>
			<tbody>
				<tr>
					<td style="text-align: center; border: 1px solid #aaa"><%= @image.name %></td>
					<td style="text-align: center; border: 1px solid #aaa"><%= @image.url %></td>
					<td style="text-align: center; border: 1px solid #aaa"><%= @image.alt %></td>
				</tr>
		</tbody>
	</table>	
</div>
